@charset "UTF-8";
/*▼▼▼▼▼▼▼▼▼▼▼reset ▼▼▼▼▼▼▼▼▼▼▼▼*/
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

/*行の高さをフォントサイズと同じにしています*/
body {
  line-height: 1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
/*nav ul {
    list-style:none;
}*/
ol, ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
  text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/*画像を縦に並べた時に余白が出ないように*/
img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/*box-sizingを全ブラウザに対応*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*▼▼▼▼▼▼▼▼▼▼▼BASE基本設定(import) ▼▼▼▼▼▼▼▼▼▼▼▼*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
}

html {
  margin-top: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.8;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
  }
}
.noto {
  font-family: "Noto Sans JP", sans-serif;
}

.din {
  font-family: din-2014, sans-serif;
  font-weight: 400;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a img {
  border: none;
}

li {
  list-style-type: none;
}

.futura {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.futura_book {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gennokaku {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gennokaku_m {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

/*-------------------------------------------*/
/* フォーム部品 　 　 　 　                     */
/*-------------------------------------------*/
/* iOSでのデフォルトスタイルをリセット */
input[type=submit],
input[type=button] {
  border-radius: 0px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  color: #002A72;
  font-size: inherit;
  border: none;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]:focus,
input[type=button]:focus {
  background-color: transparent;
  outline-offset: 0px;
  outline: none;
}

input, label, select, textarea {
  vertical-align: middle;
}

input, select, textarea {
  color: inherit;
  background: #ffffff;
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
  background: #ffffff;
}

input::-webkit-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input::-moz-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input:-ms-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input::-ms-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input::placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

textarea::-webkit-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

textarea::-moz-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

textarea:-ms-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

textarea::-ms-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

textarea::placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input::-ms-input-placeholder {
  color: #DDDDDD;
  font-size: 11px;
}

input[type=text], input[type=email] {
  font-size: 16px;
}
input[type=text].mwidth, input[type=email].mwidth {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type=text]:focus, input[type=email]:focus {
  background: #ffffff;
}

@media screen and (min-width: 751px) {
  input::-webkit-input-placeholder {
    font-size: 13px;
  }
  input::-moz-placeholder {
    font-size: 13px;
  }
  input:-ms-input-placeholder {
    font-size: 13px;
  }
  input::-ms-input-placeholder {
    font-size: 13px;
  }
  input::placeholder {
    font-size: 13px;
  }

  textarea::-webkit-input-placeholder {
    font-size: 13px;
  }

  textarea::-moz-placeholder {
    font-size: 13px;
  }

  textarea:-ms-input-placeholder {
    font-size: 13px;
  }

  textarea::-ms-input-placeholder {
    font-size: 13px;
  }

  textarea::placeholder {
    font-size: 13px;
  }

  input::-ms-input-placeholder {
    font-size: 13px;
  }
}
/**********ラジオボタンとチェックボックス***********/
input[type=radio], input[type=checkbox] {
  display: none;
}

.radio, .checkbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 10px 4px 0;
  padding: 8px 8px 8px 36px;
  border-radius: 8px;
  background-color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
}

.radio:hover, .checkbox:hover {
  background-color: #ffffff;
}

.radio:hover:after, .checkbox:hover:after {
  border-color: #DDDDDD;
}

.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 9px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #DDDDDD;
  border-radius: 6px;
  content: "";
}

.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 14px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E03124;
  content: "";
  opacity: 0;
}

input[type=radio]:checked + .radio:before {
  opacity: 1;
}

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #E03124;
  border-bottom: 3px solid #E03124;
  content: "";
  opacity: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

select {
  width: 200px;
}
select option {
  padding: 0.8em;
}

.req:after {
  content: "*";
  color: #002664;
  font-weight: bold;
}

/*-------------------------------------------*/
/* 404見つかりませんでした                      */
/*-------------------------------------------*/
#not_found .inner {
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0 60px 0;
}
#not_found .inner h1 {
  color: #4b4b4b;
  font-size: 120px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}
#not_found .inner .lead {
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px;
}
#not_found .inner .lead span {
  vertical-align: middle;
  font-size: 16px;
}
#not_found .inner .text {
  font-size: 13px;
  text-align: center;
  line-height: 1.6;
}
#not_found .totop {
  text-align: center;
  padding: 60px 0;
}
#not_found .totop a {
  display: inline-block;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background: #bcbcbc;
  color: #fff;
}

/*▲▲▲▲▲▲▲▲▲▲▲　BASE基本設定終了 ▲▲▲▲▲▲▲▲▲▲*/
.bg_black {
  background: #212A36;
}

body.artworks #breadcrumb .breadlist li a, body.artworks #breadcrumb .breadlist li span {
  color: #fff;
}
body.artworks #breadcrumb .breadlist li a.hvr-underline-from-left::before, body.artworks #breadcrumb .breadlist li span.hvr-underline-from-left::before {
  background: #fff;
}

body.artworks .sectionTitle {
  color: #fff;
  text-align: center;
}

/*=================
  secton
=================*/
.works_images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works_images li {
  width: 33%;
}
.works_images li:first-child {
  width: 100%;
}

#archiveWorks .contents, #taxoWorks .contents {
  background: #212A36;
}

.features_text_wrap {
  width: 100%;
  position: relative;
}
.features_text_wrap::after {
  position: absolute;
  content: "";
  background-image: url(../images/photograph/feature_bg.png);
  width: 272px;
  height: 272px;
  background-size: cover;
  right: 0;
  top: -67px;
}

.features_text {
  width: 100%;
  text-align: center;
  color: #fff;
}
.features_text h3 {
  font-size: 20px;
  letter-spacing: 0.7em;
}
/*# sourceMappingURL=creative.css.map */