@import "base";


.bg_black{
  background: #212A36;
}

body.artworks {
  #breadcrumb {
    .breadlist {
      li {
        a,span {
          color:#fff;
          &.hvr-underline-from-left {
            &::before {
              background: #fff;
            }
          }
        }
      }
    }
  }
}

body.artworks .sectionTitle {
  color: #fff;
  text-align: center;

}

#photobook .sectionTitle {
  text-align: left;
}

.fadeFromRight{
  color: #fff;
  font-size: 13px;
}

body.artworks .btn_read_more .link_text {
  color: #fff;
}

.feature_tit{
  position: absolute;
  top: -40px;
  background: #212A36;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;
  left: 0;
  right: 0;
  z-index: 1;
}

/*=================
  secton
=================*/

.sectionTitle {
  .ja {
    color:#7F8FA5;
  }
  .eng{
    font-size: 60px;
  }
}

.works_images{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li{
    width: 32%;
    &:first-child{
      width: 100%;
      margin: 0 0 80px;
      .texts{
        text-align: center;
        .meta2 {
         margin: 0 auto;
        }
      }
    }

    a{
      .meta2 {
        position: relative;
        color: #7F8FA5;
        width: fit-content;
        font-size: 12px;
        &::before,&::after{
          content: "";
          position: absolute;
          background-color: #7F8FA5;
          height: 1px;
          bottom: 3px;
          left: 0;
        }
        &::before{
          width: 100%;
        }
        &::after{
          width: 0%;
          @include trans;
        }
      }
      &:hover{
        .meta2 {
          &::before{
            width: 0%;
          }
          &::after{
            width: 100%;
          }
        }
      }
    }
  }
}



.btn_view_more {
  justify-content: right;

  .link_text{
    color: #fff;
  }
}

#archiveWorks .contents, #taxoWorks .contents {
  background: #212A36;
}

.features_text_wrap{
  width: 100%;
  position: relative;
  z-index: 2;
  &::after{
    position: absolute;
    content: "";
    background-image: url(../images/photograph/feature_bg.png);
    width: 272px;
    height:272px;
    background-size: cover;
    right: 0;
    top: -40px;
  }
}

.features_text{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 2.5;
  color: #fff;
  h3{
    font-size: 20px;
    letter-spacing: 0.7em;
    margin: 40px 0 40px;
  }
  a{
    color: #80FFFF;
    position: relative;
    &::before,&::after{
      content: "";
      position: absolute;
      background-color: #80FFFF;
      height: 1px;
      bottom: 0px;
      left: 0;
    }
    &::before{
      width: 100%;
    }
    &::after{
      width: 0%;
      @include trans;
    }
    &:hover{
      &::before{
        width: 0%;
      }
      &::after{
        width: 100%;
      }
    }
  }
}



.features_border{
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
  padding: 70px;
  &::before,&::after{
    content: "";
    position: absolute;
    border:1px solid #697893;
  }
  &::before{
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
  }
  &::after{
    top: 10px;
    left: -10px;
    right: 10px;
    bottom: -10px;
  }
}








#pagePhotograph {
  //撮影事例
  #works {

    .w_title {
      color: #fff;
      font-size: 17px;
    }
  }
}

/*=================
  フォトレタッチ
=================*/
#retouch{
  p.text{
    font-size: 13px;
  }
  .sectionTitle .ja {
    color: #fff;
    font-size: 16px;
  }
}

#pagePhotograph #retouch .lead {
  max-width: 100%;
  margin: 60px auto 0;
  text-align: center;
}


/*=================
  Detail of delivery Deta
=================*/
#pagePhotograph #awlinks {
  background: #212A36;
}

.data_column{
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: #fff;

  >div{
    width: 49%;
    text-align: center;
  }
  h3{
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px #3E5C89 dashed;
    padding: 35px 0;
  }
  .data_column_text{
    padding: 35px;
    text-align: left;
    p{
      font-size: 13px;
      line-height: 2.5;
      margin: 0 0 15px;
    }
    span{
      font-size: 12px;
      color: #7E97A9;
    }
  }
  .high{
    background: #295371;
    .data_column_text{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background-image: url(../images/photograph/icon_high.png);
        background-size: cover;
        width: 156px;
        height: 162px;
        bottom: 30px;
        right: 20px;
      }
    }
  }
  .standard{
    background: #22395C;
    .data_column_text{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background-image: url(../images/photograph/icon_standard.png);
        background-size: cover;
        width: 122px;
        height: 134px;
        bottom: 10px;
        right: 50px;
      }
    }
  }
}

.contact{

  .sectionTitle {
    span,.ja {
      color: #1A212B;
    }
  }
  a{
    background: #fff;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
  }
}