@import "base";
@import "common";



/*==================================
  ドローン
==================================*/

#spec{
  table{
    width: 100%;
    tr{
      &:first-child{
        border-bottom: 10px solid #F7F7F7;
        @include mediaSP{
          border-bottom: 5px solid #F7F7F7;
        }
      }
    }
    td{
      background: #fff;
      padding: 10px 20px;
      border-left: 10px solid #F7F7F7;
      border-bottom: 10px solid #F7F7F7;
      @include mediaSP{
        padding: 5px 10px;
        border-left: 5px solid #F7F7F7;
        border-bottom: 5px solid #F7F7F7;
      }
      &.tbl_tit{
        width:22.58% ;
        background: #DDDDDD;
        font-size: 15px;
        font-weight: 500;
        border-left:none;

        @include mediaSP{
          writing-mode: vertical-rl;

          font-size: 11px;
          width: 10px;
          padding: 0px;
          vertical-align: bottom;
          text-align: center;
        }
      }
    }
  }
}

#pageDorone #spec .sub_title {
  margin: 0 0 20px 0;
}

.f_logo_sanei{
  display: none;
}


/*=================
  ホバー時にくるっと弧を描くボタン
=================*/
.cp_arrows{
  text-align: right;
}

@include mediaPC{
  .cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .cp_arrows .link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }

  .cp_arrows .cp_arrow .arrow_icon {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: -webkit-transform 0.3s ease;
            transition:         transform 0.3s ease;
            transition:         transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }
  .cp_arrows .cp_arrow .arrow_icon_circle {
    -webkit-transition: stroke-dashoffset 0.3s ease;
            transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }

  .cp_arrows .cp_arrow:hover .arrow_icon_circle {
    stroke-dashoffset: 0;
  }

  }


  @include mediaSP{
    .cp_arrows {
      height: 120px;

    }

    .arrow_icon, .arrow_icon_circle{
      display: none;
    }

    }



/*=================
  modal
=================*/
#archiveWorks,
#taxoWorks,
#pagePhotograph,
#pageDorone {


  //スライダー
  #modal_slider {


    .prev_icon {
      cursor:pointer;
    }
    .next_icon {
      cursor:pointer;
    }


  }





  //modal
  .remodal-close {
    left: auto;
    right: 12px;
    top: -48px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border:none;
    z-index: 0;
    &::before {
      content:none;
    }
    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 16px;
      left: 11px;
      background: #fff;
      opacity: 1;
      top: 18px;
      &.x_1 {
        transform: rotate(45deg);
      }
      &.x_2 {
        transform: rotate(-45deg);
      }
    }
    &:hover{
      border:none;
    }
  }


  .svg_close {
    transform:rotate(0deg);
    position: absolute;
    right: -1px;
    top: -3px;
    fill: none;
    cursor:pointer;
    z-index: 0;
    &:active{
      pointer-events: none;
    }
    .circle_close {
      stroke: #fff;
      stroke-width: 1px;
    }
    &:hover{
      .circle_close {
        animation: circleAnim 1s forwards;
        fill: transparent;
        stroke-dasharray: 138px;
        stroke-dashoffset: 138px;
      }
      @keyframes circleAnim {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }



}